html,body{
    margin: 0;
    padding: 0;
}
html{
    font-size: 10px;
    background-color:#ac3939c0;
}
body{
    margin: 0px auto;
    width: 90%;
    min-width: 800px;
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #006699;
}
h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#4dc3ff;
}
p,li,dl{
    font-family: 'Roboto Condensed', sans-serif;
    color: #bfbfbf; 
}